.home-banner {
  background-image: url('https://res.cloudinary.com/dqtnidhro/image/upload/v1645184182/p7cb60cjgpxjiw6xizub.jpg');
  background-size:cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
